== markdown page('index')

h2#events イベント

p ギークハウス神田秋葉原では定期的にイベントを行っています。興味の近い人同士が集まって、ゆるく交流したりみんなで何かをつくったりできる場にしたいと考えています。見学のついででもOKですので、気になるイベントがありましたらぜひ参加してみてください！

img src='/images/drinkup_03.jpg'

h3 イベント会場提供

p ギークハウス神田秋葉原をイベントの会場として使っていただくことも可能です。キャパは最大15人程度です。お気軽にご相談ください。

h2#links リンク

== markdown page('links')
