@import "vendor/normalize";
@import "vendor/gh-fork-ribbon";

body {
  background: #dec052;
  background: -moz-linear-gradient(top, #dec052 0%, #f2eecb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dec052), color-stop(100%,#f2eecb));
  background: -webkit-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: -o-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: -ms-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: linear-gradient(to bottom, #dec052 0%,#f2eecb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dec052', endColorstr='#f2eecb',GradientType=0 );
  color: #666;
}

a {
  color: #d30;
  &:hover, &:focus {
    color: #f30;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main {
  clear: both;
  padding: 10px 20px 20px;
  background: #fff;
}

header, footer {
  margin: 20px 0;
  text-align: center;
  a {
    color: #333;
    text-decoration: none;
    &:hover, &:focus {
      color: #333;
    }
  }
}

blockquote {
  padding: 10px 20px;
  background: #efefef;
  color: #999;

  cite {
    display: block;
    text-align: right;
  }
}

img, iframe {
  display: block;
  margin: 0 auto;
}

.aki {
  color: #d30;
}

nav {
  background: #fff;
  padding: 10px 0 20px;
  ul {
    list-style-type: none;
    li {
      float: left;
      line-height: 20px;
      a {
        display: block;
        padding: 0 20px;
        border-right: 1px solid #ccc;
        color: #333;
      }
      &:last-child a {
        border-right: none;
      }
    }
  }
}
