@import "vendor/normalize";
@import "vendor/gh-fork-ribbon";

body {
  background: #dec052;
  background: -moz-linear-gradient(top, #dec052 0%, #f2eecb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dec052), color-stop(100%,#f2eecb));
  background: -webkit-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: -o-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: -ms-linear-gradient(top, #dec052 0%,#f2eecb 100%);
  background: linear-gradient(to bottom, #dec052 0%,#f2eecb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dec052', endColorstr='#f2eecb',GradientType=0 );
  color: #666;
}

a {
  color: #d30;
  &:hover, &:focus {
    color: #f30;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main {
  clear: both;
  padding: 10px 20px 20px;
}

header, footer {
  margin: 20px 0;
  text-align: center;
  a {
    color: #333;
    text-decoration: none;
    &:hover, &:focus {
      color: #333;
    }
  }
}

blockquote {
  padding: 10px 20px;
  background: #efefef;
  color: #999;

  cite {
    display: block;
    text-align: right;
  }
}

img, iframe {
  display: block;
  margin: 0 auto;
}

.aki {
  color: #d30;
}

h2 {
  text-align: center;
}

.menubar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  z-index: 9999;
  background-color: #FFF;
  margin-top: -80px;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);

  a.logo {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/logo.png);
    margin: 27px 0px 0px 40px;
  }

  ul.mainmenu {
    float: right;
    margin: 0px 40px 0px 0px;
    text-transform: uppercase;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 30px 10px 31px 10px;

      a {
        color: #838282;
        -webkit-transition: color 400ms ease;
        -moz-transition: color 400ms ease;
        -o-transition: color 400ms ease;
        -ms-transition: color 400ms ease;
        transition: color 400ms ease;
        &:hover, &:focus {
          color: #f30;
        }
      }

      &.active a {
        font-weight: bold;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../images/7wonders.jpg);
  background-size: cover;

  .overlay {
    background-image: url(../images/overlay_light_diagonal.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
  }

  h1 {
    position: absolute;
    top: 50%;
    height: 40px;
    margin-top: -40px;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 40px;
  }

  a.scrolldown {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
}
